:host {
    .movie-list {
        margin: 0;
        list-style-type: none;
        max-width: 90vw;

        display: grid;
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-gap: 0.5rem;
        align-items: stretch;
        justify-content: stretch;
    }

    .movie-list__poster {
        border-radius: 4px;
        object-position: 0 0;

        height: 100%;
        width: 100%;
    }
}