<p>home-page works!</p>

<aside class="side-menu">
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/movies">Movies</a>
      </li>
    </ul>
  </nav>
</aside>
<main>
  <h2>Movies</h2>
  <form [formGroup]="this.form">
    <div>
      <label for="movie-search-bar">
        Search Movies
      </label>
      <input
        type="text"
        name="movie-search-bar"
        id="movie-search-bar"
        placeholder="Search Movies"
        formControlName="search"
      />
      <button type="reset">clear</button>
    </div>
  </form>
  <ul class="movie-list">
    <ng-container *ngFor="let movie of movies; trackBy: trackMovieBy">
      <li class="movie-list__item">
        <a *ngIf="movie" routerLink="/movies/{{movie.slug}}">
          <img [src]="movie.image.url" [alt]="movie.image.title">
        </a>
      </li>
    </ng-container>
  </ul>
</main>
