<app-base-layout [lastVisitedMovies]="lastVisitedMovies">
  <main>
    <header>
      <form class="movie-filters" [formGroup]="this.form">
        <div class="movie-filter">
          <label for="movie-search-bar">
            Search
          </label>
          <input
            type="search"
            name="movie-search-bar"
            id="movie-search-bar"
            placeholder="Search Terms"
            formControlName="searchTerms"
          />
          <button type="button" (click)="this.form.controls.searchTerms.setValue('')">clear</button>
        </div>
        <div class="movie-filter">
          <label for="genre-filter">
            Genres
          </label>
          <select
            type="text"
            name="genre-filter"
            id="genre-filter"
            formControlName="genres"
            multiple
          >
          <option [value]="null" disabled>Select a Genre</option>
            <ng-container *ngFor="let genre of genres; trackBy: trackGenreBy">
              <option [value]="genre">{{ genre }}</option>
            </ng-container>
          </select>
          <button type="button" (click)="this.form.controls.genres.setValue([])">clear</button>
        </div>
      </form>
    </header>
    <article>
      <h2>Movies</h2>
      <app-movies-list [movies]="movies"></app-movies-list>
    </article>
  </main>
</app-base-layout>