<div class="base-layout grid-layout">
  <header class="header">
    <div class="header__branding">
      <app-svg-home />
    </div>
    <div class="header__content">
      <h1>Movie Page</h1>
    </div>
  </header>
  <aside class="side-menu">
    <app-vert-menu />
  </aside>
  <section class="page-content">
      <ng-content />
  </section>
  <footer class="footer">
    <div class="footer__content">
      <app-last-visited-footer [movies]="lastVisitedMovies" ></app-last-visited-footer>
    </div>
  </footer>
</div>